[Desktop Entry]
Version=1.1
Type=Application
Terminal=false
Name=ArPiRobot Drive Station
Comment=PC-side robot control software for ArPiRobot robots.
Icon=icon
Exec=AppRun
Categories=Development;
StartupWMClass=io.github.arpirobot.DriveStation
X-AppImage-Version=1.1.0-rc1
X-AppImage-Name=ArPiRobot-DeployTool
X-AppImage-Arch=x86_64